<html layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/slideStyle.css}">
	<link rel="stylesheet" th:href="@{/css/tableStyle.css}">
	<link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</th:block>
<div layout:fragment="content">
	<div class="slide_wrapper">
		<ul class="slides">
			<li><img src="./image/ONE PIECE 100.jpg" /></li>
			<li><img src="./image/나루토 1.jpg" /></li>
			<li><img src="./image/귀멸의 칼날 8.jpg" /></li>
			<li><img src="./image/나의 히어로 아카데미아 21.jpg" /></li>
			<li><img src="./image/스파이 패밀리 1.jpg" /></li>
			<li><img src="./image/주술회전 11.jpg" /></li>
			<li><img src="./image/강철의 연금술사 1.jpg" /></li>
			<li><img src="./image/데스노트 3.jpg" /></li>
			<li><img src="./image/미생 1.jpg" /></li>
			<li><img src="./image/신과함께 1.jpg" /></li>
		</ul>
		<button class="arrow left">
			<svg width="21px" height="27px" viewBox="0 0 50 80"
				xml:space="preserve">
          <polyline fill="none" stroke="#000" stroke-width="1"
					stroke-linecap="round" stroke-linejoin="round"
					points="
            45.63,75.8 0.375,38.087 45.63,0.375 " />
        </svg>
		</button>
		<button class="arrow right">
			<svg xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" width="21px"
				height="27px" viewBox="0 0 50 80" xml:space="preserve">
          <polyline fill="none" stroke="#000" stroke-width="1"
					stroke-linecap="round" stroke-linejoin="round"
					points="
            0.375,0.375 45.63,38.087 0.375,75.8 " />
        </svg>
		</button>
	</div>
	<div
		style="text-align: end; width: 845px; margin: 0 auto; padding-top: 10px">
		<select class="searchOption" id="searchOption">
			<option value="title">제목</option>
			<option value="category">카테고리</option>
		</select> <input id="keyword" type="text" />
		<button class="searchBtn purpleBtn">검색</button>
		<button class="createBtn purpleBtn"
			th:onclick="|location.href='@{/book/create}'|">생성</button>
	</div>
	<p class="status" th:text="|▶${keyword}|"
		style="width: 835px; margin: 0 auto; font-weight: bold; padding-left: 10px; border-bottom: 1.5px #7b40a6 solid;"></p>
	<table>
		<colgroup>
			<col width="50%" />
			<col width="30%" />
			<col width="20%" />
		</colgroup>
		<thead>
			<tr>
				<th>제목</th>
				<th>카테고리</th>
				<th>가격</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${bookList}">
				<td><a style="text-decoration: none; color: black;"
					th:href="@{|/book/detail/${book.id}|}" th:text="${book.title}">
				</a></td>
				<td th:text="${book.category}"></td>
				<td class="price" th:text="${book.price}"></td>
			</tr>
			<tr>
				<td>:</td>
				<td>:</td>
				<td>:</td>
			</tr>
		</tbody>
	</table>
</div>
<th:block layout:fragment="bodyScript">
	<script>
		const prices = document.querySelectorAll(".price");
		for (var i = 0; i < prices.length; i++) {
			prices[i].innerText = Number(prices[i].innerText).toLocaleString(
					"ko-KR")
					+ "원";
		}
		const status = document.querySelector(".status");
		const nation = status.innerText.split("/")[0].slice(1);

		const selectedNavBtn = document.querySelector("." + nation);
		selectedNavBtn.id = "active";
		
		const searchOption = document.querySelector("#searchOption");
		const tbody = document.querySelector("tbody");
		
		window.onload = function () {
			  var httpRequest;
			  const searchBtn = document.querySelector(".searchBtn");
			  const keyword = document.querySelector("#keyword");
			  keyword.addEventListener("keyup", (event) => {
				  if (window.event.keyCode == 13) {
					  searchBtn.click();
				  }
			  });
			  
			  searchBtn.addEventListener("click", () => {
			    if (keyword.value.length < 2) {
			      alert("두글자 이상 입력해주세요.");
			    } else {
			      httpRequest = new XMLHttpRequest();
			      httpRequest.onreadystatechange = () => {
			        if (httpRequest.readyState === XMLHttpRequest.DONE) {
			          if (httpRequest.status === 200) {
			            var result = httpRequest.response;
			            if (result.length == 0) {
			            	alert("검색 결과가 없습니다.");
			            } else {
			            	var newTbody = ""
			            	for (var i = 0; i < result.length; i ++ ) {
			            		newTbody += `<td><a style="text-decoration: none; color: black;" href="/book/detail/${result[i].id}">${result[i].title}</a></td>\n\t\t\t\t<td>${result[i].category}</td>\n\t\t\t\t<td class="price">${result[i].price}</td>\n\t\t\t</tr>`
			            	}
			            	newTbody += "<tr>\n\t\t\t\t<td>:</td>\n\t\t\t\t<td>:</td>\n\t\t\t\t<td>:</td>\n\t\t\t</tr>"
			            	tbody.innerHTML = newTbody;
			            	console.log(newTbody);
			            }
			            console.log(result);
			          } else {
			            alert("Request Error!");
			          }
			        }
			      };

			      /* Get 방식으로 name 파라미터와 함께 요청 */
			  		var reqUrl = "/list?";
			      if (nation == "Home") {
			    	  reqUrl += `option=${searchOption.value}&keyword=${keyword.value}`;
			      }
			      else {
			    	  reqUrl = `/list?nation=${status.innerText.split("/")[0].slice(1)}&genre=${status.innerText.split("/")[1]}&option=${searchOption.value}&keyword=${keyword.value}`;
			      }
			      console.log(reqUrl);
			      httpRequest.open(
			        "POST",
			        reqUrl
			      );
			      /* Response Type을 Json으로 사전 정의 */
			      httpRequest.responseType = "json";
			      /* 정의된 서버에 요청을 전송 */
			      httpRequest.send();
			    }
			  });
			};
		
	</script>
	<script type="text/javascript" th:src="@{/js/slideScript.js}"></script>
	<script type="text/javascript" th:src="@{/js/navScript.js}"></script>
</th:block>
</html>