<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5>책 등록</h5>
	<form th:object="${bookForm}" method="POST">
		<div class="alert alert-danger" role="alert"
			th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
		</div>
		<div class="mb-3">
			<label for="title">제목</label> <input th:field="*{title}" id="title">
		</div>
		<div class="mb-3">
			<label for="category">카테고리</label> <input th:field="*{category}"></input>
		</div>
		<div class="mb-3">
			<label for="nation">국가</label> <input th:field="*{nation}"></input>
		</div>
		<div class="mb-3">
			<label for="genre">장르</label> <input th:field="*{genre}"></input>
		</div>
		<div class="mb-3">
			<label for="price">가격</label> <input th:field="*{price}"></input>
		</div>
		<input type="submit" value="저장하기">
	</form>
</div>
</html>