<div th:fragment="navbarFragment" class="topnav" id="myTopnav">
	<!-- <a th:href="@{/}" class="active">Home</a> -->
	<button class="homeBtn active"
			th:onclick="|location.href='@{/}'|">Home</button>
	<div class="dropdown">
		<button class="dropbtn active">국내만화</button>
		<div class="dropdown-content">
			<a href="#">순정만화</a>
			<a href="#">소년만화</a>
			<a href="#">성인만화</a>
			<a href="#">기획도서</a>
			<a>만화잡지</a>
		</div>
	</div>
	<div class="dropdown">
		<button class="dropbtn">일본만화</button>
		<div class="dropdown-content">
			<a href="#">순정만화</a>
			<a href="#">소년만화</a>
			<a href="#">성인만화</a>
			<a href="#">기획도서</a>
		</div>
	</div>
	<div class="dropdown">
		<button class="dropbtn">미국만화</button>
		<div class="dropdown-content">
			<a href="#">DC 코믹스마블</a>
			<a href="#">코믹스리터러리</a>
			<a href="#">그래픽노블</a>
		</div>
	</div>
	<a href="javascript:void(0);" class="icon">&#9776;</a>
</div>